@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  padding: 4px 0;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1s infinite;
  }

  .inner {
    &.withBg {
      background-color: #f0f0f0;
    }

    &.fullHeight {
      height: 100%;
    }

    &.line {
      line-height: 1;
    }
  }
}
