.heading {
  padding: 0px 10px;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  .item {
    &:nth-child(odd) {
      background: #fafafa;
    }
    &:nth-child(even) {
      background: #f0f0f0;
    }

    &.loading {
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 1s infinite;
      }
    }

    .link {
      color: black;
      padding: 5px 10px;
      display: block;

      &:hover {
        background: #e5f0ff;
      }
    }
  }
}
