.heading {
  padding: 0px 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  .item {
    &:nth-child(odd) {
      background: #fafafa;
    }
    &:nth-child(even) {
      background: #f0f0f0;
    }

    .link {
      color: black;
      padding: 5px 10px;
      display: block;

      &:hover {
        background: #e5f0ff;
      }
    }
  }
}
